body 
{
    text-align: center;
}

canvas 
{
    border: 1px solid grey;
}

img 
{
    display: none;
}

#player {
    background: #ff0000;
    width: 20px;
    height: 20px;
    position: absolute;
}